// ***********************************
// BASE
// ***********************************

body{
	color: $body-text;
	margin: 0;
	padding: 0;
	background: $color-body-bg;
	line-height: $line-height-mobile;
	font-family: $font-family-primary;
	font-size: $font-size-mobile;
	font-size: $line-height-mobile;
	font-weight: $font-weight-body;

	@include breakpoint($break-menu){
		font-size: $font-size;
		line-height: $line-height;
	}
}


// ***********************************
// PAGE STRUCTURE
// ***********************************

$susy: (
  container: 64em,
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

$bp-medium: 32em;
$bp-large: 60em;
$breakpoint-no-query-fallbacks: true;

.container {
  @include container;
}
