// ***********************************
// PAGE STRUCTURE
// ***********************************


#main {
 @include span(12 last);
}

#main-services {
  @include span(12);
  .main-one {
    @include span(12);
    
  }
  .main-two {
    @include span(12);
    
  }
  .main-three {
    @include span(12);
    
  }
}

@include breakpoint(500px) {
	#main-services {
		.main-one { @include span(4 first); } 
		.main-two { @include span(4); }
		.main-three  { @include span (4 last); }
	}
}

// ***********************************
// PAGE LAYOUT
// ***********************************


body {
	background-color: #eee;
}

#main {
	height: 100vh;
	text-align: center;
}

#main-services {
	height: 600px;
	background-color: red;
	padding-top: 50px;
	i {
		text-align: center;
	}
}

